<%content_for :title do%>
	Grupo RECOM - Fale Conosco
<%end%>

<%content_for :head do%>
	<%= stylesheet_link_tag "contato"%>
<%end%>

<%content_for :imageheader do%>
	<div id="Highlight"><%=image_tag(SERVIDOR + @Header.image.url())%></div>
<%end%>

<p>
	<%=@Conteudo%>
</p>

<br><br>
<p>
	Sua mensagem foi enviada com sucesso!<br>
	<br>
	Em breve nossa equipe entrará em contato.<br>
	<br>
	Obrigado
</p>